<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSMP</title>
    <%- include('./extensions/head') %>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-brand">Open Source Minecraft Panel</div>
                <div class="navbar-item">
                    <a href="/logout" class="navbar-link">Log Out</a>
                </div>
            </div>
            
        </nav>
    </header>
    <br><br><br><br>
    <div class="container">
        <h3>Hello, <%= req.user.info.firstName %>!</h3>
        <h1>Your Servers</h1>
        
        <br><br>
        <% if (servers.length === 0) { %> <h6>Your hosting provider didn't assign any servers under your account. Check in with them for more information.</h6> <% } %>
        <% for ( let server of servers ) { %>
        <div class="card">
            <div class="card-header">
                <span><%= server.name %></span>
            </div>
            <div class="card-body">
                <a href="/servers/<%= server.identifier.split('-')[0] %>" class="btn btn-primary">Manage <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <br>
        <% } %>
        <br><br>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
</body>
</html>