<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSMP | Login</title>
    <%- include('./extensions/head') %>
</head>
<body>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h5>Panel Login</h5>
            </div>
            <div class="card-body">
                <form action="/login" method="post">
                    <div class="form-outline">
                        <input class="form-control" id="key" name="username" type="password">
                        <label for="key" class="form-label">Pterodactyl API User Key</label>
                    </div>
                    <input type="hidden" name="password" value="none">
                    <br>
                    <input type="submit" value="Submit" class="btn btn-primary">
                    
                </form>
            </div>
            <div class="card-footer">
                <i>Need a API Key? Click <a href="<%= url %>/account/api">here</a> to generate one with your provider's panel.</i>
            </div>
        </div>
    </div>

    
</body>
</html>