/*
Want a dark themed site? Uncomment the lines below.
*/

/* body {
    background-color: #2C2F33 !important;
    color: white !important;
}

div.card {
    background-color: #1a1b1d !important;
}

table > * {
    color: white !important;
}

.field {
    background-color: #1d1e20 !important;
    color: white !important;
    border: none;
    outline: none;
} */

tr.file > td > i.fas {
    margin-right: 10px;
    color: gray;
}