/*
Want a dark themed site? Uncomment the lines below.
*/

 /* body {
    background-color: #2C2F33 !important;
    color: white !important;
}

div.card {
    background-color: #202325 !important;
}

table > * {
    color: white !important;
}

.field {
    background-color: #1d1e20 !important;
    color: white !important;
    border: none;
    outline: none;
} 

tr.file > td > i.fas {
    margin-right: 10px;
    color: gray;
}

.m-1-4 {
    margin: .25rem;
}

.text-white{
    color: #fafafa
}

.navbar {
    background-color: #1f2124;
}
*/

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}